<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyKan - Restaurant Apps</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <meta name="Description" content="Mykan apps, submission for Dicoding front-end web developer expert class.">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/images/icon/icon-96x96.png"/>
    <link rel="apple-touch-icon" href="/images/icons.png">
</head>

<body>
  <header>
    <app-bar></app-bar>
  </header>
  
  <!-- Main -->
  <main id="mainContent" tabindex="0"></main>
  
  <!-- Footer -->
  <footer>
    <footer-section></footer-section>
  </footer>

</body>
</html>